<!------------------------------------------------------------------------------

   Filename    :  tag_button.html
   Description :  Defining the tag buttons
   Author      :  Yi-Mu 'Enoch' Chen [ ensc@hep1.phys.ntu.edu.tw ] 

------------------------------------------------------------------------------->

<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"></script>
<script>
$(document).ready(function() {
   $(".main_tag_button").on("click" , function(){
      $(this).siblings(".sub_container").toggle(500);
   });

   $(".sub_tag_button").on("click", function(){
      $(this).siblings(".post_container").toggle(500);
   });
});
</script>

