hr { 
    display: block; 
    margin: 1em 0; 
    padding: 0;
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff; 
}

// Figures and images
// --------------------------------------------------
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
  }
  a { 
    img {
      @include translate(0, 0);
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      &:hover {
        @include translate(0, -5px);
        @include box-shadow(0 0 10px fade($base-color, 20));
      }
    }
  }
  &.half {
    @media #{$large} {
      img {
        width: 310px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media #{$large} {
      img {
        width: 200px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden; 
}

// Buttons
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-rem(14);
  background-color: $primary;
  color: $bg-main;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  @include rounded(3px);
  &:visited {
    color: $bg-main;
  }
  &:hover {
    background-color: $bg-main;
    color: $primary;
  }
}
.btn-inverse {
  background-color: $bg-main;
  color: $primary;
  border-color: $bg-main;
  &:visited {
    color: $primary;
  }
  &:hover {
    background-color: $primary;
    color: $bg-main;
  }
}
.btn-success {
  background-color: $success;
  color: $bg-main;
  border-color: $success;
  &:visited {
    color: $bg-main;
  }
  &:hover {
    background-color: $bg-main;
    color: $success;
  }
}
.btn-warning {
  background-color: $warning;
  color: $bg-main;
  border-color: $warning;
  &:visited {
    color: $bg-main;
  }
  &:hover {
    background-color: $bg-main;
    color: $warning;
  }
}
.btn-danger {
  background-color: $danger;
  color: $bg-main;
  border-color: $danger;
  &:visited {
    color: $bg-main;
  }
  &:hover {
    background-color: $bg-main;
    color: $danger;
  }
}
.btn-info {
  background-color: $info;
  color: $bg-main;
  border-color: $info;
  &:visited {
    color: $bg-main;
  }
  &:hover {
    background-color: $bg-main;
    color: $info;
  }
}

// Well
// --------------------------------------------------
.well {
  padding: 20px;
  border: 1px solid $comp-color;
  @include rounded(4px);
}
